# File generated from our OpenAPI spec by Stainless. See CONTRIBUTING.md for details.

from __future__ import annotations

from typing import Iterable

import httpx

from ....._types import Body, Omit, Query, Headers, NoneType, NotGiven, SequenceNotStr, omit, not_given
from ....._utils import maybe_transform, async_maybe_transform
from ....._compat import cached_property
from ....._resource import SyncAPIResource, AsyncAPIResource
from ....._response import (
    to_raw_response_wrapper,
    to_streamed_response_wrapper,
    async_to_raw_response_wrapper,
    async_to_streamed_response_wrapper,
)
from ....._base_client import make_request_options
from .....types.crm.objects.quotes import (
    basic_get_params,
    basic_create_params,
    basic_delete_params,
    basic_update_params,
    basic_upsert_params,
)
from .....types.crm.simple_public_object_id_param import SimplePublicObjectIDParam
from .....types.crm.batch_response_simple_public_object import BatchResponseSimplePublicObject
from .....types.crm.simple_public_object_batch_input_param import SimplePublicObjectBatchInputParam
from .....types.crm.batch_response_simple_public_upsert_object import BatchResponseSimplePublicUpsertObject
from .....types.crm.simple_public_object_batch_input_upsert_param import SimplePublicObjectBatchInputUpsertParam
from .....types.crm.simple_public_object_batch_input_for_create_param import SimplePublicObjectBatchInputForCreateParam

__all__ = ["BasicResource", "AsyncBasicResource"]


class BasicResource(SyncAPIResource):
    @cached_property
    def with_raw_response(self) -> BasicResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/hubspot-sdk-python#accessing-raw-response-data-eg-headers
        """
        return BasicResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> BasicResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/hubspot-sdk-python#with_streaming_response
        """
        return BasicResourceWithStreamingResponse(self)

    def create(
        self,
        *,
        inputs: Iterable[SimplePublicObjectBatchInputForCreateParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicObject:
        """
        Create multiple quotes in a single request by providing a batch of quote
        objects, each with its own properties and optional associations.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/crm/objects/2026-03/quotes/batch/create",
            body=maybe_transform({"inputs": inputs}, basic_create_params.BasicCreateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BatchResponseSimplePublicObject,
        )

    def update(
        self,
        *,
        inputs: Iterable[SimplePublicObjectBatchInputParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicObject:
        """Update multiple quotes using their internal IDs or unique property values.

        This
        endpoint allows batch processing of quote updates, ensuring efficient management
        of multiple records in a single request.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/crm/objects/2026-03/quotes/batch/update",
            body=maybe_transform({"inputs": inputs}, basic_update_params.BasicUpdateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BatchResponseSimplePublicObject,
        )

    def delete(
        self,
        *,
        inputs: Iterable[SimplePublicObjectIDParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> None:
        """
        Archive multiple quotes by their IDs in a single request, effectively moving
        them to the recycling bin.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return self._post(
            "/crm/objects/2026-03/quotes/batch/archive",
            body=maybe_transform({"inputs": inputs}, basic_delete_params.BasicDeleteParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )

    def get(
        self,
        *,
        inputs: Iterable[SimplePublicObjectIDParam],
        properties: SequenceNotStr[str],
        properties_with_history: SequenceNotStr[str],
        archived: bool | Omit = omit,
        id_property: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicObject:
        """
        Retrieve records by record ID or include the `idProperty` parameter to retrieve
        records by a custom unique value property.

        Args:
          properties: Key-value pairs for setting properties for the new object.

          properties_with_history: Key-value pairs for setting properties for the new object and their histories.

          archived: Whether to return only results that have been archived.

          id_property: When using a custom unique value property to retrieve records, the name of the
              property. Do not include this parameter if retrieving by record ID.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/crm/objects/2026-03/quotes/batch/read",
            body=maybe_transform(
                {
                    "inputs": inputs,
                    "properties": properties,
                    "properties_with_history": properties_with_history,
                    "id_property": id_property,
                },
                basic_get_params.BasicGetParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=maybe_transform({"archived": archived}, basic_get_params.BasicGetParams),
            ),
            cast_to=BatchResponseSimplePublicObject,
        )

    def upsert(
        self,
        *,
        inputs: Iterable[SimplePublicObjectBatchInputUpsertParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicUpsertObject:
        """
        Create or update records identified by a unique property value as specified by
        the `idProperty` query param. `idProperty` query param refers to a property
        whose values are unique for the object.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return self._post(
            "/crm/objects/2026-03/quotes/batch/upsert",
            body=maybe_transform({"inputs": inputs}, basic_upsert_params.BasicUpsertParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BatchResponseSimplePublicUpsertObject,
        )


class AsyncBasicResource(AsyncAPIResource):
    @cached_property
    def with_raw_response(self) -> AsyncBasicResourceWithRawResponse:
        """
        This property can be used as a prefix for any HTTP method call to return
        the raw response object instead of the parsed content.

        For more information, see https://www.github.com/stainless-sdks/hubspot-sdk-python#accessing-raw-response-data-eg-headers
        """
        return AsyncBasicResourceWithRawResponse(self)

    @cached_property
    def with_streaming_response(self) -> AsyncBasicResourceWithStreamingResponse:
        """
        An alternative to `.with_raw_response` that doesn't eagerly read the response body.

        For more information, see https://www.github.com/stainless-sdks/hubspot-sdk-python#with_streaming_response
        """
        return AsyncBasicResourceWithStreamingResponse(self)

    async def create(
        self,
        *,
        inputs: Iterable[SimplePublicObjectBatchInputForCreateParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicObject:
        """
        Create multiple quotes in a single request by providing a batch of quote
        objects, each with its own properties and optional associations.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/crm/objects/2026-03/quotes/batch/create",
            body=await async_maybe_transform({"inputs": inputs}, basic_create_params.BasicCreateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BatchResponseSimplePublicObject,
        )

    async def update(
        self,
        *,
        inputs: Iterable[SimplePublicObjectBatchInputParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicObject:
        """Update multiple quotes using their internal IDs or unique property values.

        This
        endpoint allows batch processing of quote updates, ensuring efficient management
        of multiple records in a single request.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/crm/objects/2026-03/quotes/batch/update",
            body=await async_maybe_transform({"inputs": inputs}, basic_update_params.BasicUpdateParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BatchResponseSimplePublicObject,
        )

    async def delete(
        self,
        *,
        inputs: Iterable[SimplePublicObjectIDParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> None:
        """
        Archive multiple quotes by their IDs in a single request, effectively moving
        them to the recycling bin.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        extra_headers = {"Accept": "*/*", **(extra_headers or {})}
        return await self._post(
            "/crm/objects/2026-03/quotes/batch/archive",
            body=await async_maybe_transform({"inputs": inputs}, basic_delete_params.BasicDeleteParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=NoneType,
        )

    async def get(
        self,
        *,
        inputs: Iterable[SimplePublicObjectIDParam],
        properties: SequenceNotStr[str],
        properties_with_history: SequenceNotStr[str],
        archived: bool | Omit = omit,
        id_property: str | Omit = omit,
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicObject:
        """
        Retrieve records by record ID or include the `idProperty` parameter to retrieve
        records by a custom unique value property.

        Args:
          properties: Key-value pairs for setting properties for the new object.

          properties_with_history: Key-value pairs for setting properties for the new object and their histories.

          archived: Whether to return only results that have been archived.

          id_property: When using a custom unique value property to retrieve records, the name of the
              property. Do not include this parameter if retrieving by record ID.

          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/crm/objects/2026-03/quotes/batch/read",
            body=await async_maybe_transform(
                {
                    "inputs": inputs,
                    "properties": properties,
                    "properties_with_history": properties_with_history,
                    "id_property": id_property,
                },
                basic_get_params.BasicGetParams,
            ),
            options=make_request_options(
                extra_headers=extra_headers,
                extra_query=extra_query,
                extra_body=extra_body,
                timeout=timeout,
                query=await async_maybe_transform({"archived": archived}, basic_get_params.BasicGetParams),
            ),
            cast_to=BatchResponseSimplePublicObject,
        )

    async def upsert(
        self,
        *,
        inputs: Iterable[SimplePublicObjectBatchInputUpsertParam],
        # Use the following arguments if you need to pass additional parameters to the API that aren't available via kwargs.
        # The extra values given here take precedence over values defined on the client or passed to this method.
        extra_headers: Headers | None = None,
        extra_query: Query | None = None,
        extra_body: Body | None = None,
        timeout: float | httpx.Timeout | None | NotGiven = not_given,
    ) -> BatchResponseSimplePublicUpsertObject:
        """
        Create or update records identified by a unique property value as specified by
        the `idProperty` query param. `idProperty` query param refers to a property
        whose values are unique for the object.

        Args:
          extra_headers: Send extra headers

          extra_query: Add additional query parameters to the request

          extra_body: Add additional JSON properties to the request

          timeout: Override the client-level default timeout for this request, in seconds
        """
        return await self._post(
            "/crm/objects/2026-03/quotes/batch/upsert",
            body=await async_maybe_transform({"inputs": inputs}, basic_upsert_params.BasicUpsertParams),
            options=make_request_options(
                extra_headers=extra_headers, extra_query=extra_query, extra_body=extra_body, timeout=timeout
            ),
            cast_to=BatchResponseSimplePublicUpsertObject,
        )


class BasicResourceWithRawResponse:
    def __init__(self, basic: BasicResource) -> None:
        self._basic = basic

        self.create = to_raw_response_wrapper(
            basic.create,
        )
        self.update = to_raw_response_wrapper(
            basic.update,
        )
        self.delete = to_raw_response_wrapper(
            basic.delete,
        )
        self.get = to_raw_response_wrapper(
            basic.get,
        )
        self.upsert = to_raw_response_wrapper(
            basic.upsert,
        )


class AsyncBasicResourceWithRawResponse:
    def __init__(self, basic: AsyncBasicResource) -> None:
        self._basic = basic

        self.create = async_to_raw_response_wrapper(
            basic.create,
        )
        self.update = async_to_raw_response_wrapper(
            basic.update,
        )
        self.delete = async_to_raw_response_wrapper(
            basic.delete,
        )
        self.get = async_to_raw_response_wrapper(
            basic.get,
        )
        self.upsert = async_to_raw_response_wrapper(
            basic.upsert,
        )


class BasicResourceWithStreamingResponse:
    def __init__(self, basic: BasicResource) -> None:
        self._basic = basic

        self.create = to_streamed_response_wrapper(
            basic.create,
        )
        self.update = to_streamed_response_wrapper(
            basic.update,
        )
        self.delete = to_streamed_response_wrapper(
            basic.delete,
        )
        self.get = to_streamed_response_wrapper(
            basic.get,
        )
        self.upsert = to_streamed_response_wrapper(
            basic.upsert,
        )


class AsyncBasicResourceWithStreamingResponse:
    def __init__(self, basic: AsyncBasicResource) -> None:
        self._basic = basic

        self.create = async_to_streamed_response_wrapper(
            basic.create,
        )
        self.update = async_to_streamed_response_wrapper(
            basic.update,
        )
        self.delete = async_to_streamed_response_wrapper(
            basic.delete,
        )
        self.get = async_to_streamed_response_wrapper(
            basic.get,
        )
        self.upsert = async_to_streamed_response_wrapper(
            basic.upsert,
        )
